<h3>Messages</h3>

<%= sync partial: 'message_row', collection: @messages %>
<%= sync_new partial: 'message_row', resource: Message.new %>

<hr>

<%= form_for @new_message, url: messages_path(@connection, @meeting),  method: :post, remote: true do |f| %>
    <%= f.text_field :body %>
<% end %>
