<div class="container">
  <div class="row">
    <%= @connection.host.first_name %>
    <h2> <%= @connection.status %> </h2>
    <% if @connection.status == "suggested" %>
      <%= link_to "invit", connection_path, data: { confirm: "Are you sure?" }, method: :patch %>
    <% else %>
      <h2> Wait for user's confirmation </h2>
    <% end %>

    <%= link_to "Back", dashboard_path %>
  </div>
</div>
