.max-body {
  height: 80%;
}

#map {
  height: 60vh;
  width: 100%;
}
.color-suggestions {
  background: black;
}
.row-fluid {
  padding: 0px !important;
}
.container-fluid {
  padding: 0px !important;
}

.no_padding {
  padding: 0px;
}

#menu {
   background-color: white !important;
}

.body-dashboard {
  background: -webkit-gradient(linear, left top, right bottom, from(#91A0B6 ), to(#A7A9B4 )) fixed;
  color: #223843;
}


li {
  list-style-type:none;
}

.btn-primary {
  background-color: #2A4182;
}

.graph {
    max-width: 400px;
    height: 400px;
    margin: auto;
  }


