.max-body {
  height: 80%;
}

// .box {
//   display: flex;
// }

#map {
  height: 60vh;
  width: 100%;
}

.row.suggestions-work {
  background-color: #F5F5F5;
  color: #2A4182;
}

.row.profil-work {
  background-color:  #84CAE7;
  color: #2A4182;
}

li {
  list-style-type:none;
}

.btn-primary {
  background-color: #2A4182;

}



// .col-xs-6 {
//   background-color: #F7F3E3;
// }

// ul {
// list-style:none;
// margin-left:0;
// padding-left:0;
// }
// li {
// margin-bottom:15px;/* à adapter */
// }

// .col-xs-3{
//   background-color: #B7D3F2 !important;
//   border: 2px;
// }

