<div class="navbar-togather">
  <div class="navbar-home-logo">
    <%= link_to root_path, class: "navbar-wagon-brand navbar-wagon-link" do %>
      <%= image_tag "http://placehold.it/30x30" %>
      <p>
        ToGather
      </p>
    <% end %>
  </div>
  <div class="navbar-logout">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <i class="fa fa-sign-out"></i>
    <% end %>
  </div>
</div>










