
<div id="mynetwork"></div>

<% content_for(:after_js) do %>
<script type="text/javascript">
  // create an array with nodes
  var nodes = new vis.DataSet(<%= raw current_user.node_user.to_json %>);

  // create an array with edges
  var edges = new vis.DataSet(<%= raw current_user.connected_data.to_json %>);

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};
  var network = new vis.Network(container, data, options);

  var options = {
  interaction:{
    dragNodes:true,
    dragView: true,
    hideEdgesOnDrag: false,
    hideNodesOnDrag: false,
    hover: true,
    hoverConnectedEdges: true,
    keyboard: {
      enabled: false,
      speed: {x: 10, y: 10, zoom: 0.02},
      bindToWindow: true
    },
    multiselect: false,
    navigationButtons: false,
    selectable: true,
    selectConnectedEdges: true,
    tooltipDelay: 300,
    zoomView: true,
    clickToUse: true
  },
  nodes:{
    borderWidth: 1,
    borderWidthSelected: 2,
    brokenImage:undefined,
    color: {
      border: '#2B7CE9',
      background: '#97C2FC',
      highlight: {
        border: '#2B7CE9',
        background: '#D2E5FF'
      },
      hover: {
        border: '#2B7CE9',
        background: '#D2E5FF'
      }
    },
    size: 45,
    title: "plop",
    value: undefined,
    x: undefined,
    y: undefined
  }
}

network.setOptions(options);
</script>
<% end %>
