
<div id="mynetwork"></div>

<% content_for(:after_js) do %>
<script type="text/javascript">
  // create an array with nodes
  var len = undefined;
  var DIR = 'img/soft-scraps-icons/';

  var nodes = new vis.DataSet(<%= raw current_user.node_user.to_json %>);

  // create an array with edges
  var edges = new vis.DataSet(<%= raw current_user.connected_data.to_json %>);

  // create a network
  var container = document.getElementById('mynetwork');
  var data = {
    nodes: nodes,
    edges: edges
  };
  var options = {};
  var network = new vis.Network(container, data, options);

   var options = {
        nodes: {
          borderWidth:4,
          size:30,
          shape: 'dot',
        color: {
            border: '#222222',
            background: '#DBD3D8'
          },
        font: {
                size: 32
           },
          font:{color:'#5968D9'},
          shadow:true,
          size: 25,
          title: "<img src=''",
        },
        edges: {
          color: '#223843',
          width: 2,
          shadow:true,
        },
        interaction:{
          dragNodes:true,
          dragView: true,
          hoverConnectedEdges: true,
          multiselect: false,
          navigationButtons: false,
          selectable: true,
          selectConnectedEdges: true,
          tooltipDelay: 300,
          zoomView: true
          }
       };



network.setOptions(options);
network.on( 'click', function(properties) {
    window.location.href = 'http://localhost:3000/connections/38';
});
</script>
<% end %>
