<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<br>
<br>
<br>
<br>
<p class="text-center">
  <%= link_to "Please Log In", new_user_session_path, class: "btn btn-lg btn-primary" %>
</p>
