<h2> Your first Network </h2>
<% current_user.recommended_users.each do |x| %>
  <ul>
    <il><%= x.email %></il>
  </ul>
<%end%>

<%= render 'shared/recommended_form' %>

<%= link_to "Back", dashboard_path %>

