<h2> Your first Network </h2>
<p>
  <% current_user.recommended_users.each do |x| %>
    - <%= x.email %>
  <%end%>
</p>

<%= render 'shared/recommended_form' %>

<%= link_to "Back", dashboard_path %>

