.togather-button {
  text-decoration: none !important;
  border-width: 1px !important;
  border-style: solid !important;
  padding: 3px !important;
  border-radius: 2px !important;
  border-color: white !important;
  background-color: transparent !important;
  color: white !important;
  transition: all 0.4s ease;
}

.btn-blue:hover {
  text-decoration: none !important;
  border-color: transparent !important;
  background-color: white !important;
  color: $togather-blue-light !important;
}

.btn-yellow {
  border-color: $togather-blue-light !important;
  color: $togather-blue-light !important;
}

.btn-yellow:hover {
  text-decoration: none !important;
  border-color: transparent !important;
  background-color: $togather-blue-light !important;
  color: $togather-yellow !important;
}
