.card {
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  color: white;
  position: relative;

  // margin-bottom:20px;
  // padding: 5px;
  // margin: 10px;
}
.marow {
  margin-bottom:40px;
}
.macol {
  margin-bottom:40px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 10px;
  p {

  }
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.montitre{
  text-align: center;
}

// .background {
//   background-color: #D3CDCD;
// }
// .title {
//   margin: 20px;
//   padding: 20px;
// }
.monimage {

   border-radius:7px;
//   width: 300px;
//   height: 200px;
//   cursor: pointer;
 }
