// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#movefromright {
  -webkit-animation: moveFromRightFade .7s ease both;
  animation: moveFromRightFade .7s ease both;
}
@-webkit-keyframes moveFromRightFade {
  from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
  from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.total-wrap {
  height: 100vh;
  overflow: hidden;
}

.no-marginlr-col {
  padding-left: 0;
  padding-right: 0;
}

.dashboard-not-profile {
  width: 100%;
  height: 100vh;
  background-color: #f4f4f9;
}

.profil-wrapper hr {
  margin: 10px 70px;
}

.profil-wrapper {
  padding: 20px;
  .profile-bio {
    display: flex;
    text-align: center;
    align-items : center;
    .profile-picture {
      display: flex;
      flex-direction: column;
      // justify-content: center;
      img {
        margin-bottom: 18px;
      }
      a {
        text-align: center;
      }
    }
  }
  .profile-details {
    display: flex;
    width: 100%;
    .profile-workplace {
      width: 120px;
      padding-right: 7px;
      .bio-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
      }
      p {
        font-size: 14px;
      }
    }
    .profile-interests {
      .bio-title {
        font-family: 'Roboto', sans-serif;
        font-weight: 600;
      }
    }
  }
  .desc-bio {
    padding-left: 20px;
    .bio-title {
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
    }
    p {
      font-size: 14px;
    }
  }
  .profile-skills {
    .skills-icons {
      margin: 7px 0;
      img {
        height: 17px;

      }
    }
  }
  .partner-profile {
    h2 {
      margin-top: 0;
    }
    .partner-place-name {
      font-family: 'Roboto', sans-serif;
      font-weight: 600;
    }
    .partner-resa-details {
      font-size: 14px;
    }
    .meeters {
      display: flex;
      justify-content: space-between;
      .host-meeter {
        display: flex;
        align-items: center;
        img {
          margin-right: 10px;
        }
      }
      .guest-meeter {
        display: flex;
        align-items: center;
        .guest-name {
          text-align: right;
        }
        img {
          margin-left: 10px;
        }
      }
    }
  }
}

.suggestion-wrapper {
  overflow-x: hidden;

}

.suggestion-content {
  padding-right: 15px;
  width: calc(100% + 30px);
  height: 100vh;
  overflow-y: auto;
  .underspace {
    height: 50px;
  }
  h3 {
    height: 51px;
    margin: 0;
    padding: 10px 0 0 0;
    position: fixed;
    width: 300px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.03);
    background:
      linear-gradient(
        to right,
        rgba(250,250,250,0),
        rgba(250,250,250,0.5) 10%,
        rgba(250,250,250,0.5) 75%,
        rgba(250,250,250,0)
      );
    transition: opacity 1s ease;
    // box-shadow: -100px 1px 5px rgba(0, 0, 0, 0.07);
  }
}

.suggestion-card {
  margin: 15px 0 15px 0;
  padding: 15px;
  border: 1px solid rgba(0, 0, 0, 0.07);
  background-color: #fff;
  .center-picture {
    margin-right: 15px;
    display: flex;
    align-items: center;
  }
  .suggestion-card-body {
    width: 100%;
    height: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .suggestion-card-text {
      display: flex;
      justify-content: space-between;
      span {
        padding-right: 15px;
      }

    }

  }
  .inline-icons {
    width: 100%;
    height: 20px;
    padding: 0 15px 0 0;
    img {
      height: 17px;
    }
  }
}

.suggestion-card:hover {
  background-color: rgba(255,224,181,0.2);
}


.graph {
    max-width: 400px;
    height: 400px;
    margin: auto;
  }

.wrapper-message {
  background: grey;
}



