// Place all the styles related to the meetings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#movefromright {
  -webkit-animation: moveFromRightFade .7s ease both;
  animation: moveFromRightFade .7s ease both;
}
@-webkit-keyframes moveFromRightFade {
  from { opacity: 0.3; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
  from { opacity: 0.3; -webkit-transform: translateX(100%); transform: translateX(100%); }
}

.messagerie {
  height: 70vh;
}


.wrapper-message {
  background: grey;
}

.choice-review {
  margin-top: 80px;
}



.btn-primary .place-choice {
  color: white;
}

.wrapper-col-9 {
  background-color: #F6F7F1;
  height: 100vh;
}

.wrapper-col-3 {
  background-color: #DCDCDD;
  height: 100vh;
}



