#movefromright {
  -webkit-animation: moveFromRightFade 2.5s ease both;
  animation: moveFromRightFade 2.5s ease both;
}
@-webkit-keyframes moveFromRightFade {
  from { opacity: 0.4; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
  from { opacity: 0.4; -webkit-transform: translateX(100%); transform: translateX(100%); }
}


.card {
  height: 175px;
  background-size: cover !important;
  color: #32357F;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.maphotosize {
  width: 100%;
}
.monmap {
  height: 300px;
  width: 100%;
}
.monbackground {
  //height: 100vh;
  overflow: hidden;
  background: linear-gradient( 45deg, #AFAFAF, #F9F9F9 40%, #919191 );
}
.editbackground {
  background: linear-gradient( 45deg, #AFAFAF, #F9F9F9 40%, #919191 );
  box-sizing: border-box;
}
.monalign {
  text-align: left;
}
.monul {
  list-style-type:none;
}
.monbtn {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;

    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.4;
    border-radius: 2px;
    -webkit-user-select: none;
    }
.monbtnplace {
  padding-left: 15px;
}
.maposition {
  position: relative;
}
.moncentre {
  position: absolute;
  margin-left: auto;
  margin-right: auto
}
.row-centered {
  text-align:center;
}
.col-centered {
  display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;

}




