#movefromright {
  -webkit-animation: moveFromRightFade 2.5s ease both;
  animation: moveFromRightFade 2.5s ease both;
}
@-webkit-keyframes moveFromRightFade {
  from { opacity: 0.4; -webkit-transform: translateX(100%); }
}
@keyframes moveFromRightFade {
  from { opacity: 0.4; -webkit-transform: translateX(100%); transform: translateX(100%); }
}


.card {
  height: 175px;
  background-size: cover !important;
  color: #32357F;
  position: relative;
}
.cardshow {
  height: 175px;
  background-size: cover !important;
  color: #32357F;
  position: relative;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 10px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
  color: white;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 13px;
  }
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}
.maphotosize {
  width: 100%;
}
.monmap {
  height: 300px;
  width: 100%;
}
.monbackground {
  //height: 100vh;
  overflow: hidden;
  background: linear-gradient( 45deg, #AFAFAF, #F9F9F9 40%, #919191 );
}
.editbackground {
  background: linear-gradient( 45deg, #AFAFAF, #F9F9F9 40%, #919191 );
  box-sizing: border-box;
}
.myul {
  list-style-type:none;
  // text-align: center;
}
.myulcentre {
  text-align: center;
}
.maposition {
  position: relative;
}
.moncentre {
  position: absolute;
  margin-left: auto;
  margin-right: auto
}
.monimageshow {
  width: 100%;
}
.monradius {
border-radius:7px;
}
.backgroundmiddle {
  background-color: #005689;
}
.backgroundleft {
  background-color: purple;

}
.newbutton {
  box-sizing: border-box;
  border-width:1px;
  border-style:solid;
  padding: 2px;
  margin: 2px;
  border-radius: 2px;
  border-color: white;
  background-color: transparent;
  cursor: auto;
  text-decoration: none;

}
.newbutton:hover {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border-radius: 2px;
  border-color: #005689;
  background-color: white;
  cursor: auto;
}
.taillebarre {
  margin-left: 200px;
  margin-right: 200px;
}




