// Place all the styles related to the skills controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-actions {
  display: flex;
  justify-content: center;
}

.control-label {
  display: none;
}

// .simple_form.edit_user {
//   width: 100%;
// }

.all-skills {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 60vh;
  min-height: 300px;
}

.all-skills .checkbox {
  margin: 3px 0;
  height: 20px;
  align-self: center;
}
