<h1> Choose dates </h1>

<% if @availabilities.first %>
  <% @availabilities.each do |availability| %>
    <%= "#{availability.min_date} - #{availability.max_date}" %>
  <% end %>
<% end %>

<%= render "form" %>
