<div class="form-date-resa">
  <%= simple_form_for :resa, url: connection_meeting_place_path(@connection, @meeting, @place), method: :patch do |f| %>
    <div class="form-inline">
      <div class="form-group">
        <div class='input-group date' id='datetimepicker1'>
          <input type='text' name="date" class="form-control" />
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>
        <%= f.button :submit, value: "Book", class: "togather-button btn-yellow" %>
      </div>
    </div>
  <% end %>
</div>
<br>
<div class="monbtnplace">
  <%= link_to "Back", connection_meeting_places_path(@connection, @meeting), class: "togather-button btn-yellow" %>
</div>




<% content_for :after_js do %>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
    });
</script>
<% end %>
