<div class="form-date-resa">
  <%= simple_form_for :resa, url: connection_meeting_place_path(@connection, @meeting, @place), method: :patch do |f| %>
    <div class="form-group">
      <div class='input-group date' id='datetimepicker1'>
        <input type='text' name="date" class="form-control" />
        <span class="input-group-addon">
          <span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      <%= f.button :submit, value: "Book" %>
    </div>
  <% end %>
</div>

<div class="monbtnplace">
  <button type="button" class="monbtn">
    <%= link_to "Back", connection_meeting_places_path(@connection, @meeting) %>
  </button>
</div>




<% content_for :after_js do %>
<script type="text/javascript">
  $(function () {
    $('#datetimepicker1').datetimepicker();
    });
</script>
<% end %>
