<div class="editbackground">
  <div class="container">

    <div class="text-center">
      <h1>Edit place</h1>
    </div>

      <%= render 'shared/placeform' %>
        <button type="button" class="monbtn">
          <p><%= link_to "Return on show place", place_path(@place) %></p>
        </button>
        </br>


</div>
</div>
